<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
<div class="container fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <p><%= matches %></p>
            <h1>Hello, <%= result.name %></h1>
            <img class="w-25 p-3" src="http://ddragon.leagueoflegends.com/cdn/7.18.1/img/profileicon/<%=result.profileIconId %>.png " alt="profile">

        </div>
        <div class="col-sm-12 col-lg-8">
            <ul>
                <% matches.matches.forEach(function(match){ %>
                    <li>
                        <div class="matches" id="<%= match.gameId %>">
                            <table class="table">
                                <thead>
                                    <th>Summoner</th>
                                    <th>Summoner</th>
                                    <th>Items</th>
                                    <th>Kills</th>
                                    <th>ii</th>
                                </thead>
                                <tbody>
                            </table>
                            <!--<div>-->
                                <!--<p><%= match.champion %></p>-->
                                <!--<p><%= match.season %></p>-->
                                <!--<p><%= match.lane%></p>-->
                            <!--</div>-->
                            <!--<div class="match-info">-->

                            <!--</div>-->
                        </div>

                    </li>
                <%})%>
            </ul>

        </div>
    </div>
</div>


<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript">
    var j = jQuery.noConflict();
    j(document).ready(function () {
        j.ajaxSetup({
            cache: false
        });
        var matches = j('.matches');
        matches.each(function (index){
            j.ajax('/matches/' + this.id)
                .done(function (data) {
                    console.log(data);
                    var party = "";
                    for(var i = 0; i < data.participants.length; i++){
                        if(data.participants[i].teamId === 100) {
                            party += `<tr class="table-success">
                                    <td>${data.participants[i].championId}</td>
                                    <td>${data.participants[i].spell1Id}</td>
                                    <td>${data.participants[i].spell2Id}</td>
                                    <td>${data.participants[i].teamId}</td>
                                    <td>Name: ${data.participantIdentities[i].player.summonerName}</td>

                                    `;
                        }else{
                            party += `<tr class="table-danger">
                                    <td>${data.participants[i].championId}</td>
                                    <td>${data.participants[i].spell1Id}</td>
                                    <td>${data.participants[i].spell2Id}</td>
                                    <td>${data.participants[i].teamId}</td>
                                    <td>Name: ${data.participantIdentities[i].player.summonerName}</td>

                                    `;
                        }

                    };
                    matchInfo = `<div>Game Mode: ${data.gameMode}</div>
                                <div>Patch: ${data.gameVersion}</div>
                                <div>Participants: ${party}</div>


                                `;
                    partay = party;
                    j('#'+data.gameId+' .table').append(partay + '</tbody>');
                });
        });
    });
</script>
</body>
</html>