<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Mukta:400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-container">
        <div class="profile-container">
            <img class="profile-pic" src="http://ddragon.leagueoflegends.com/cdn/7.18.1/img/profileicon/<%=summoner.profileIconId%>.png">
            <div>
                <h3><%=summoner.name%></h3>
                <h4><%=summoner.summonerLevel%></h4>
            </div>

        </div>
        <div class="matches-container">
            <%for(let i = 0; i < matchList.matches.length; i++){
                for(let k = 0; k < matchesArray.length; k++){
                    if(matchList.matches[i].gameId === matchesArray[k].gameId){%>
                        <div class="match">
                            <% for(let j = 0; j < matchesArray[k].participantIdentities.length; j++){
                                if(matchesArray[k].participantIdentities[j].player.accountId === summoner.accountId){
                                    %>
                                    <div><p>Match created: <%=new Date(matchesArray[k].gameCreation).toLocaleDateString()%></p></div>
                                    <div class="match-container win-<%=matchesArray[k].participants[j].stats.win%>">
                                        <div class="queue">
                                            <p><%= queues[matchesArray[k].queueId]%></p>
                                        </div>
                                        <div class="champ" data-champ="<%= matchesArray[k].participants[j].championId%>">
                                             <%= matchesArray[k].participants[j].championId%>
                                        </div>
                                        <div class="spell-container">
                                            <div class="spell" data-spell="<%= matchesArray[k].participants[j].spell1Id%>"><%= matchesArray[k].participants[j].spell1Id%></div>
                                            <div class="spell" data-spell="<%= matchesArray[k].participants[j].spell2Id%>"><%= matchesArray[k].participants[j].spell2Id%></div>
                                        </div>
                                        <div class="kda">
                                            <div><%=matchesArray[k].participants[j].stats.kills%>/<%=matchesArray[k].participants[j].stats.deaths%>/<%=matchesArray[k].participants[j].stats.assists%></div>
                                            <div>KDA <%=parseFloat(Math.round(((matchesArray[k].participants[j].stats.kills+matchesArray[k].participants[j].stats.assists)/matchesArray[k].participants[j].stats.deaths)*100)/100).toFixed(2)%></div>
                                        </div>
                                        <div class="items">
                                            <div class="item" data-item="<%= matchesArray[k].participants[j].stats.item0%>"><%= matchesArray[k].participants[j].stats.item0%></div>
                                            <div class="item" data-item="<%= matchesArray[k].participants[j].stats.item1%>"><%= matchesArray[k].participants[j].stats.item1%></div>
                                            <div class="item" data-item="<%= matchesArray[k].participants[j].stats.item2%>"><%= matchesArray[k].participants[j].stats.item2%></div>
                                            <div class="item" data-item="<%= matchesArray[k].participants[j].stats.item3%>"><%= matchesArray[k].participants[j].stats.item3%></div>
                                            <div class="item" data-item="<%= matchesArray[k].participants[j].stats.item4%>"><%= matchesArray[k].participants[j].stats.item4%></div>
                                            <div class="item" data-item="<%= matchesArray[k].participants[j].stats.item5%>"><%= matchesArray[k].participants[j].stats.item5%></div>
                                            <div class="item" data-item="<%= matchesArray[k].participants[j].stats.item6%>"><%= matchesArray[k].participants[j].stats.item6%></div>
                                        </div>
                                        <button class="more more-<%=matchesArray[k].participants[j].stats.win%>" data-btn="<%=matchesArray[k].gameId%>" >&#43;</button>
                                    </div>
                            <%}}%>

                            <div class="hidden-match-data" data-divid="<%=matchesArray[k].gameId%>" data-minimized="true">
                                <div class="match-pagination">
                                    <div>MatchInfo</div>
                                    <div>Timeline</div>
                                    <div>SpecialInfo</div>
                                </div>
                                <% for(let h = 0; h < matchesArray[k].participants.length; h++){
                                    if(matchesArray[k].participants[h].teamId === 100){%>
                                    <div class="team-100">
                                        <div class="player"><%=matchesArray[k].participantIdentities[h].player.summonerName%></div>
                                        <div class="champ" data-champ="<%=matchesArray[k].participants[h].championId%>"></div>
                                        <div class="kda">
                                            <div><%=matchesArray[k].participants[h].stats.kills%>/<%=matchesArray[k].participants[h].stats.deaths%>/<%=matchesArray[k].participants[h].stats.assists%></div>
                                            <div>KDA <%=parseFloat(Math.round(((matchesArray[k].participants[h].stats.kills+matchesArray[k].participants[h].stats.assists)/matchesArray[k].participants[h].stats.deaths)*100)/100).toFixed(2)%></div>
                                        </div>
                                        <div class="dmg-dealt">
                                            <p>TDmg: <%=matchesArray[k].participants[h].stats.totalDamageDealtToChampions%></p>
                                            <p>PDmg: <%=matchesArray[k].participants[h].stats.physicalDamageDealtToChampions%></p>
                                            <p>MDmg: <%=matchesArray[k].participants[h].stats.magicDamageDealtToChampions%></p>
                                        </div>
                                        <div class="hidden-spell-container">
                                            <div class="spell" data-spell="<%= matchesArray[k].participants[h].spell1Id%>"><%= matchesArray[k].participants[h].spell1Id%></div>
                                            <div class="spell" data-spell="<%= matchesArray[k].participants[h].spell2Id%>"><%= matchesArray[k].participants[h].spell2Id%></div>
                                        </div>
                                        <div class="hidden-items">
                                        <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item0%>"><%= matchesArray[k].participants[h].stats.item0%></div>
                                        <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item1%>"><%= matchesArray[k].participants[h].stats.item1%></div>
                                        <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item2%>"><%= matchesArray[k].participants[h].stats.item2%></div>
                                        <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item3%>"><%= matchesArray[k].participants[h].stats.item3%></div>
                                        <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item4%>"><%= matchesArray[k].participants[h].stats.item4%></div>
                                        <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item5%>"><%= matchesArray[k].participants[h].stats.item5%></div>
                                        <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item6%>"><%= matchesArray[k].participants[h].stats.item6%></div>
                                        </div>
                                    </div>
                                    <%}else{%>
                                <div class="team-200">
                                    <div class="player"><%=matchesArray[k].participantIdentities[h].player.summonerName%></div>
                                    <div class="champ" data-champ="<%=matchesArray[k].participants[h].championId%>"></div>
                                    <div class="kda">
                                        <div><%=matchesArray[k].participants[h].stats.kills%>/<%=matchesArray[k].participants[h].stats.deaths%>/<%=matchesArray[k].participants[h].stats.assists%></div>
                                        <div>KDA <%=parseFloat(Math.round(((matchesArray[k].participants[h].stats.kills+matchesArray[k].participants[h].stats.assists)/matchesArray[k].participants[h].stats.deaths)*100)/100).toFixed(2)%></div>
                                    </div>
                                    <div class="dmg-dealt">
                                        <p>TDmg: <%=matchesArray[k].participants[h].stats.totalDamageDealtToChampions%></p>
                                        <p>PDmg: <%=matchesArray[k].participants[h].stats.physicalDamageDealtToChampions%></p>
                                        <p>MDmg: <%=matchesArray[k].participants[h].stats.magicDamageDealtToChampions%></p>
                                    </div>
                                    <div class="hidden-spell-container"><p>
                                        <div class="spell" data-spell="<%= matchesArray[k].participants[h].spell1Id%>"><%= matchesArray[k].participants[h].spell1Id%></div>
                                        <div class="spell" data-spell="<%= matchesArray[k].participants[h].spell2Id%>"><%= matchesArray[k].participants[h].spell2Id%></div>
                                    </div>
                                    <div class="hidden-items">
                                    <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item0%>"><%= matchesArray[k].participants[h].stats.item0%></div>
                                    <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item1%>"><%= matchesArray[k].participants[h].stats.item1%></div>
                                    <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item2%>"><%= matchesArray[k].participants[h].stats.item2%></div>
                                    <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item3%>"><%= matchesArray[k].participants[h].stats.item3%></div>
                                    <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item4%>"><%= matchesArray[k].participants[h].stats.item4%></div>
                                    <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item5%>"><%= matchesArray[k].participants[h].stats.item5%></div>
                                    <div class="item" data-item="<%= matchesArray[k].participants[h].stats.item6%>"><%= matchesArray[k].participants[h].stats.item6%></div>
                                    </div>
                                </div>
                                    <%}}%>
                            </div>
                            <%}}%>

                        </div>
                        <%} %>
        </div>
    </div>


<!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript">
    var j = jQuery.noConflict();
    j(document).ready(function () {
        j.ajaxSetup({
            cache: false
        });
        var hiddenData = j('.hidden-match-data');
        var moreBtn = j('.more');
        getItemImages();
        getChampImages();
        getSummonerSpells();
        hiddenData.hide();

//        matchesProcessed = 0;
//        var matches = j('.matches');
//        var searchId = j('.id-holder');
//        console.log(searchId[0].value);
//
//        matches.each(function (index){
//            j.ajax('/matches/' + this.id)
//                .done(function (data) {
//                    console.log(data);
//                    var party = "";
//
//                    for(var i = 0; i < data.participants.length; i++){
//                        var partyTemplate = `
//                                <div class="champs col-2 text-center" id="${data.participants[i].championId}"></div>
//                                <div class="col-1">
//                                <div class="spells" id="${data.participants[i].spell1Id}"></div>
//                                <div class="spells" id="${data.participants[i].spell2Id}"></div>
//                                </div>
//                                <div class="col-6">
//                                <div class="items" id="${data.participants[i].stats.item0}">${data.participants[i].stats.item0}</div>
//                                <div class="items" id="${data.participants[i].stats.item1}">${data.participants[i].stats.item1}</div>
//                                <div class="items" id="${data.participants[i].stats.item2}">${data.participants[i].stats.item2}</div>
//                                <div class="items" id="${data.participants[i].stats.item3}">${data.participants[i].stats.item3}</div>
//                                <div class="items" id="${data.participants[i].stats.item4}">${data.participants[i].stats.item4}</div>
//                                <div class="items" id="${data.participants[i].stats.item5}">${data.participants[i].stats.item5}</div>
//                                <div class="items" id="${data.participants[i].stats.item6}">${data.participants[i].stats.item6}</div>
//                                </div>
//                                 </div>
//                                `;
//                        var statTemplate = `
//                                    <div class="col-2">${data.participantIdentities[i].player.summonerName}</div>
//                                    <div class="col-1">${data.participants[i].stats.kills}/${data.participants[i].stats.deaths}/${data.participants[i].stats.assists}  ${((data.participants[i].stats.kills + data.participants[i].stats.assists)/data.participants[i].stats.deaths).toFixed(2)}</div>
//                                `;
//
//                        if (data.participants[i].teamId === 100 && data.participantIdentities[i].player.summonerId === parseInt(searchId[0].value)) {
//                            party += `<div class="row bg-success">${statTemplate}${partyTemplate}`;
//                        } else if(data.participants[i].teamId === 100 && data.participantIdentities[i].player.summonerId !== parseInt(searchId[0].value)) {
//                            party += `<div class="row bg-primary">${statTemplate}${partyTemplate}`;
//                        }else if(data.participants[i].teamId === 200 && data.participantIdentities[i].player.summonerId === parseInt(searchId[0].value)){
//                            party += `<div class="row bg-success">${statTemplate}${partyTemplate}`;
//                        }else if(data.participants[i].teamId === 200 && data.participantIdentities[i].player.summonerId !== parseInt(searchId[0].value)){
//                            party += `<div class="row bg-danger">${statTemplate}${partyTemplate}`;
//                        }
//
//
//                    };
//                    partay = party;
//                    j('#'+data.gameId).append(partay);
//                    matchesProcessed++;
//                    if(matchesProcessed === matches.length){
//                        getSummonerSpells();
//                        getChampImages();
//                        getItemImages();
//                    }
//                });
//        });
//
        function getSummonerSpells() {
            j.ajax("/summoner/spells")
                .done(function (result) {
                    allTables = j('.spell')
                    keys = Object.keys(result.data);
                    for(var i = 0; i < allTables.length; i++){
                        for(var k = 0; k < keys.length; k++){
                            if(result.data[keys[k]].key === allTables[i].dataset.spell){
                                    imgTag = `<img class="img-fluid" src="http://ddragon.leagueoflegends.com/cdn/7.18.1/img/spell/${result.data[keys[k]].image.full}" alt="spell">`
                                    allTables[i].innerHTML = imgTag;
                                }

                            }
                    }
                    });
        }
//
        function getChampImages(){
            j.ajax("/summoner/champs")
                .done(function (result) {
                    allTables = j('.champ')
                    keys = Object.keys(result.data);
                    for(var i = 0; i < allTables.length; i++){
                        for(var k = 0; k < keys.length; k++){
                            if(result.data[keys[k]].key === allTables[i].dataset.champ){
                                imgTag = `<img class="img-fluid" src="http://ddragon.leagueoflegends.com/cdn/7.18.1/img/champion/${result.data[keys[k]].image.full}" alt="spell">`
                                allTables[i].innerHTML = imgTag;
                            }

                        }
                    }
                });
        }
        function getItemImages(){
            j.ajax("/summoner/items")
                .done(function (result) {
                    allTables = j('.item')
                    keys = Object.keys(result.data);
                    for(var i = 0; i < allTables.length; i++){
                        if(allTables[i].dataset.item === "0"){
                            imgTag = `<img class="img-fluid" src="http://ddragon.leagueoflegends.com/cdn/7.18.1/img/item/3637.png" alt="spell">`
                            allTables[i].innerHTML = imgTag;
                        }
                        for(var k = 0; k < keys.length; k++){

                            if(keys[k] === allTables[i].dataset.item){
                                imgTag = `<img class="img-fluid" src="http://ddragon.leagueoflegends.com/cdn/7.18.1/img/item/${result.data[keys[k]].image.full}" alt="spell">`
                                allTables[i].innerHTML = imgTag;
                            }

                        }
                    }
                });
        }
        moreBtn.click(function(){
            moreBtn.each(index =>{
                moreBtn[index].textContent = "+";
                console.log(moreBtn[index].dataset.minimized);
            })
            hiddenData.each(index => {
                moreData = j(hiddenData[index]);

                if(hiddenData[index].dataset.divid === this.dataset.btn){
                    moreData.addClass(this.classList[1]);
                    if(hiddenData[index].dataset.minimized === "true"){
                        moreData.slideDown(500);
                        this.textContent = "-";
                        hiddenData[index].dataset.minimized = "false";
                    }else{
                        moreData.slideUp();
                        this.textContent = "+";
                        hiddenData[index].dataset.minimized = "true";
                    }

                }else {
                    moreData.slideUp();
                    hiddenData[index].dataset.minimized = "true";
                }

        })
        })
//
    });
</script>
</body>
</html>